.p-title{
  margin:10px 0 25px 0;
}
.p-title a{
  margin-right: 10px;
  color: #000;
}
.p-title a.active{
  color:#108ee9;
}
.nums dl{
  float: left;
  text-align: center;
  width: 70px;
  margin-bottom: 30px;
  border-right: 1px solid #ccc;
}
.nums dl:last-child{
  border-right: none;
}